<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Plataforma Vanguardia{% endblock %}</title>
    
    {% load static %}
    
    <link rel="stylesheet" href="{% static 'core/styles.css' %}">
</head>
<body>

    <nav>
        <a href="{% url 'core:home' %}">Inicio</a>
        <a href="{% url 'core:about' %}">Acerca de mí</a>
    </nav>

    <div class="container">
        {% block content %}
        {% endblock %}
    </div>

    <footer>
        <p>&copy; 2026 Innovación y Sostenibilidad Industrial. Todos los derechos reservados.</p>
    </footer>

</body>
</html>